{{ ssh_config_base }}

{% for host, value in cico_data.ansible_module_results.hosts.items() %}
Host duffy_box
  HostName {{ value.hostname  }}
  User root
  Port 22
  StrictHostKeyChecking no
  PasswordAuthentication no
  GlobalKnownHostsFile=/dev/null

{% endfor %}
